{% extends "layout.njk" %}

{% block create %}

    <form method="post" action="/admin/chefs">
        <div class="header_create">
            <h1>Criando Chef</h1>
            <button type="submit">Salvar Chefe</button>
        </div>
        <div class="form_create">
            {% include "admin/chefs/fields.njk" %}
        </div>


    </form>

{% endblock %}