{% extends "layout.njk" %}

{% block head %}

    <title>{{chef.title}}</title>

{% endblock %}

{% block chefShow %}

    <section>
        <div class="header_create">
            <h1>Chef:
                {{chef.name}}</h1>
            <a href="/admin/chefs/{{chef.id}}/edit">Editar Chefe</a>
        </div>

        <div class="chef_banner__image-container">
            <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
        </div>

        <div class="chef-info">
            <h1>{{chef.name}}</h1>
            <p>{{chef.total_recipes}} Receitas</p>
        </div>
    </section>

    <section>
        <div class="chef_cards_recipes">
            <h1>Gerenciar Receitas</h1>
            <div class="chef_grid_recipes">

                {% for recipe in recipes %}
                    <div class="chef_card_recipe" id="{{ recipe.id }}">
                        <div>
                            <img src="{{ recipe.image }}" alt="imagem de {{ recipe.id }}">
                        </div>
                        <div class="chef_details">
                            <h2>{{ recipe.title }}</h2>
                            <p>{{ chef.name }}</p>
                            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}