{% extends "layout.njk" %}

{% block edit %}

<div class="header_create">
    <h1>Editando Receita</h1>
    <div id="edit-buttons">
        <button id="delete-button" form="form-delete" type="submit">Delete</button>
        <button form="form-edit" type="submit">Salvar receita</button>
    </div>
</div>

<form id="form-edit" method="post" action="/admin/recipes?_method=PUT">
    
    <div class="form_create">
        {% include "admin/fields.njk" %}
    </div>

    <input 
        type="hidden" 
        name="id" 
        value={{ recipe.id }}
    >

</form>

<form id="form-delete" method="post" action="/admin/recipes?_method=DELETE">
    <input 
        type="hidden" 
        name="id" 
        value={{ recipe.id }}
    >
</form>

{% endblock %}