<div class="item">
    <div>Imagem da Receita</div>
    <div>
        <input type="text" name="recipe_image">
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div>
        <input type="text" name="recipe_ingredients">
        <button type="submit">Adicionar Novo Ingrediente</button>
    </div>
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div>
        <input type="text" name="preparation_mode">
        <button type="submit">Adicionar Novo Passo</button>
    </div>

</div>

<div class="item">
    <div>Informações adicionais</div>   
    <textarea id="additional_information" name="additional_information"></textarea>   
</div>