{% extends "layout.njk" %}

{% block list %}

<div class="admin_cards_recipes">
    <h1>Gerenciar Receitas</h1>
    <div class="admin_grid_recipes">

        {% for item in items %}
        <div class="admin_card_recipe" id="{{ item.id }}">
            <div>
                <img src="{{ item.image }}" alt="imagem de {{ item.id }}">
            </div>
            <div class="admin_details">
                <h2>{{ item.title }}</h2>
                <p>{{ item.author }}</p>
                <a href="#">Visualizar</a>
            </div>
        </div>
        {% endfor %}        
    </div>
</div>

{% endblock %}