{% extends "layout.njk" %}

{% block banner %}
<div class="container_banner">
    <div class="banner_text">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <div class="banner_chef">
        <img src="/assets/chef.png" alt="chefe">
    </div>
</div>
{% endblock %}

{% block recipes %}
<div class="cards_recipes">
    <h1>Mais Acessadas</h1>
    <div class="grid_recipes">
        <div class="card_recipe">
            <img src="/assets/burger.png" alt="burger">
            <h2>Triplo Bacon Burger</h2>
            <p>Por Jorge Relato</p>
        </div>

        <div class="card_recipe">
            <img src="/assets/pizza.png" alt="pizza">
            <h2>Pizza 4 estações</h2>
            <p>Por Fabiana Melo</p>
        </div>

        <div class="card_recipe">
            <img src="/assets/espaguete.png" alt="espaguete">
            <h2>Espaguete ao alho</h2>
            <p>Por Julio Kinoto</p>
        </div>

        <div class="card_recipe">
            <img src="/assets/lasanha.png" alt="lasagna">
            <h2>Lasagna Mac n' Cheese</h2>
            <p>Por Juliano Vieira</p>
        </div>

        <div class="card_recipe">
            <img src="/assets/doce.png" alt="docinhos">
            <h2>Docinhos Pão-do-céu</h2>
            <p>Por Ricardo Gouvêa</p>
        </div>

        <div class="card_recipe">
            <img src="/assets/asinhas.png" alt="frango">
            <h2>Asinhas de Frango ao Barbecue</h2>
            <p>Por Sonia Steroski</p>
        </div>
    </div>
</div>
{% endblock %}