<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    {% block head %}
        <title>FoodFy</title>
    {% endblock %}
</head>

<body>
    <header>
        <div class="navBar">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
                <a href="/admin">Admin</a>
            </div>
        </div>
    </header>
    <div class="container">

        {% block banner %}{% endblock %}
        {% block recipes %}{% endblock %}
        {% block about %}{% endblock %}
        {% block list %}{% endblock %}
        {% block create %}{% endblock %}
        {% block edit %}{% endblock %}

    </div>
    <div class="footer">
        <p>Todos os direitos reservados, receitas FoodFy</p>
    </div>

</body>

</html>