@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

* {
    margin: 0;
    padding: 0;    
}

body {
    background: white;    
    margin: 0 0 100px;
    font-family: 'Roboto', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    width: 940px;    
    margin: 0 auto;
}

.navBar {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 36px 0 50px 0;    
}


.navBar .logo {
    padding-right: 124px;    
}

.navBar .links {   
    margin: auto 0;   
}

.navBar .links a {    
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    padding-right: 30px;    
}

/* FILTER */

.navBar .filter {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    align-items: center;   
}

.navBar .filter .links {
    margin: 0;
}

.navBar .filter .searchBar form {
    display: grid;
    grid-template-columns: 265px 90px;
    justify-content: space-between;  
    align-items: center;    
}

.navBar .filter .searchBar button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;    
    color: #FFFFFF;
    padding: 10px 20px;    
    background: #6558C3;
    border: none;
    border-radius: 4px;   
    text-decoration: none; 
}

.navBar .filter .searchBar input {   
    box-sizing: border-box;
    padding: 10px 20px; 
    margin: 0 10px 0 0;
}

/* BANNER */

.container_banner {
    background: #FBDFDB;
    height: 366px;
    border-radius: 30px;
    display: flex;
    margin-bottom: 50px;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 316px;  
    margin-left: 60px;  
}

.banner_text h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    color: #111111;
}

.banner_text p {
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    opacity: 0.7;    
    line-height: 28px;
}

.banner_chef {
    display: block;
    padding: 66px 100px 0 259px;
}

.cards_recipes h1 {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 20px;    
}

.grid_recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card_recipe {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}   

.card_recipe img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;    
}

.card_recipe h2 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.card_recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

.footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 68px;    
    background: #EEEEEE;
    margin-top: 50px;
}

.footer p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #999999;
    padding: 23px 0;
}

/* ABOUT PAGE */

.about_container {
    min-height: 100%;
}

.about_container h1 {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.about_container p {
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
    text-align: justify;        
}

.about_container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;       
}

/* RECIPES PAGE */

.recipes__detail-section .details ul{
    padding-left: 20px;
 }
 
 .banner__image-container img{
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
    object-fit: cover;
 }
 
 .recipe-info {
    text-align: center;
 }
 
 .recipe-info h1 {
    font-size: 36px;
    margin-bottom: 4px;
 }
 
 .recipe-info p {
    font-size: 20px;
    color: var(--info-color);
 }
 
 .section-title {
    display: flex;
    align-items: baseline;
 
    margin-bottom: 20px;
 }
 
 .section-title h3 {
    font-size: 24px;
    margin-bottom: 0;
 }
 
 .details {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 39px;
    max-height: 100vh;
    transition: all 600ms ease-in-out ;
 }
 
 .btn-collapse {
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
 }
 
 .btn-collapse:hover {
    color: #999999;
    filter: brightness(0.7);
 }
 
 button.btn-collapse {
    border: none;
    background-color: transparent;  
    margin-left: 8px;
 }
 
 /* DETAILS COLLAPSE BUTTON */
 .hide-details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
 }

 /* PAGINATION */

 .pagination {
     text-align: center;
     margin-top: 10px;
 }

 .pagination a,
 .pagination span {
    font-size: 18px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
    margin-right: 16px;
 }

 .pagination a:hover {
     filter: brightness(0.3);
 }

 /* ADMIN RECIPE LIST PAGE */

 .admin_cards_recipes h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111111;  
    margin-bottom: 30px;
}

.admin_grid_recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin_card_recipe {
    display: flex;
    flex-direction: row;   
}   

.admin_card_recipe img {
    width: 172px;
    height: 82px;
    border-radius: 8.5px;
    margin-bottom: 20px;    
}

.admin_details {
    margin-left: 20px;
}

.admin_card_recipe h2 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.admin_card_recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.admin_card_recipe a {
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

/* ADMIN RECIPE CREATE PAGE */

.header_create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_create h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    
}

.header_create #edit-buttons {    
    display: flex;    
}

.header_create a,
.header_create button[type="submit"] {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;    
    color: #FFFFFF;
    padding: 9px 20px;    
    background: #6558C3;
    border: none;
    border-radius: 4px;   
    text-decoration: none; 
}

.header_create button[type="submit"]#delete-button {
    background: #DC4747;
    width: 92px;
    margin-right: 10px;
}

.item {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #111111;
    margin-bottom: 10px;
    margin-top: 30px;    
}

input, select { 
    box-sizing: border-box;  
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0 0 0;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;   
}


.item button[type="button"],
.add-step,
.add-ingredient {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    border: none;
    background: white;
    margin-top: 15px;
}

.item #additional_information {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 940px;
    height: 257px;
    margin-top: 10px;
}

textarea {
    font-family: Roboto;
    padding: 20px 20px;
    box-sizing: border-box;
}

 /* ADMIN CHEF LIST PAGE */

 .admin_cards_chefs h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111111;  
    margin-bottom: 30px;
}

.admin_grid_chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.admin_card_chef {
    display: flex;
    flex-direction: row;   
}   

.admin_card_chef img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;  
}

.admin_chef_details {
    display: grid;
    align-items: center;
    margin-left: 20px;
}

.admin_chef_details p {
    font-family: Roboto;
    font-size: 14px;
    color: #666666;
}

.admin_card_chef h2 {
    font-size: 18px;
    color: #111111;
    
}

.admin_card_chef a {
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

/* ADMIN CHEFS PAGE */

.chef_banner__image-container img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;    
    object-fit: cover;
    margin: 0 auto 30px auto;     
 }
 
 .chef-info {    
    text-align: center;
 }
 
 .chef-info h1 {    
    font-size: 36px;
    color: #111111;    
    margin-bottom: 4px;
 }
 
 .chef-info p {
    font-size: 20px;
    color: #777777;
    margin-bottom: 50px;
 }

 .chef_cards_recipes h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111111;  
    margin-bottom: 30px;
}

.chef_grid_recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chef_card_recipe {
    display: flex;
    flex-direction: row;   
}   

.chef_card_recipe img {
    width: 172px;
    height: 82px;
    border-radius: 8.5px;
    margin-bottom: 20px;    
}

.chef_details {
    margin-left: 20px;
}

.chef_card_recipe h2 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.chef_card_recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.chef_card_recipe a {
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

/* PHOTOS UPLOAD */
form .form_create .item .gallery {
    display: grid;
    gap: 8px;
    grid-template-columns: 150px 1fr;  
    height: 150px;  
    margin-top: 10px;
}

form .form_create .item .photos-upload {
    position: relative;
    display: block; 
    overflow: hidden;
    width: 150px;
    height: 150px;    
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    box-sizing: border-box;             
}

form .form_create .item .photos-upload i {    
    top: 0;
    left: 0;    
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;    
}

form .form_create .item .photos-upload #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    padding: 0;
    opacity: 0;
    cursor: pointer;   
    margin: 0; 
}

form .form_create .item #photos-preview {
    display: grid;    
    grid-template-columns: repeat(5, 1fr);   
    gap: 8px;    
    height: 150px; 
}

form .form_create .item #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 3.5px;  
}
 
form .form_create .item #photos-preview .photo {
    position: relative;
    
}

form .form_create .item #photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

form .form_create .item #photos-preview .photo:hover i {
    opacity: 1;
}