@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

* {
    margin: 0;
    padding: 0;    
}

body {
    background: white;    
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.navBar {
    width: 940px;
    margin: 0 auto;
    display: flex;
    padding: 36px 0 50px 0;    
}

.navBar .logo {
    padding-right: 124px;    
}

.navBar .links {   
    margin: auto 0;   
}

.navBar .links a {    
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    padding-right: 30px;    
}

.container_banner {
    background: #FBDFDB;
    height: 366px;
    border-radius: 30px;
    display: flex;
    margin-bottom: 50px;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 316px;  
    margin-left: 60px;  
}

.banner_text h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    color: #111111;
}

.banner_text p {
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    opacity: 0.7;    
    line-height: 28px;
}

.banner_chef {
    display: block;
    padding: 66px 100px 0 259px;
}

.cards_recipes h1 {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 20px;    
}

.grid_recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card_recipe {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}   

.card_recipe img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;    
}

.card_recipe h2 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.card_recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

.footer {
    width: 100%;
    height: 68px;    
    background: #EEEEEE;
    margin-top: 50px;
}

.footer p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #999999;
    padding: 23px 0;
}

/* Página SOBRE */

.about_container h1 {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.about_container p {
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
    text-align: justify;        
}

.about_container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;       
}

/* Página Receita */

.recipes__detail-section .details ul{
    padding-left: 20px;
 }
 
 .banner__image-container img{
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
    object-fit: cover;
 }
 
 .recipe-info {
    text-align: center;
 }
 
 .recipe-info h1 {
    font-size: 36px;
    margin-bottom: 4px;
 }
 
 .recipe-info p {
    font-size: 20px;
    color: var(--info-color);
 }
 
 .section-title {
    display: flex;
    align-items: baseline;
 
    margin-bottom: 20px;
 }
 
 .section-title h3 {
    font-size: 24px;
    margin-bottom: 0;
 }
 
 .details {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 39px;
    max-height: 100vh;
    transition: all 600ms ease-in-out ;
 }
 
 .btn-collapse {
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
 }
 
 .btn-collapse:hover {
    color: #999999;
    filter: brightness(0.7);
 }
 
 button.btn-collapse {
    border: none;
    background-color: transparent;  
    margin-left: 8px;
 }
 
 /* Detalhes Colapso */
 .hide-details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
 }

 /* Página Admin Listagem */

 .admin_cards_recipes h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111111;  
    margin-bottom: 30px;
}

.admin_grid_recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin_card_recipe {
    display: flex;
    flex-direction: row;   
}   

.admin_card_recipe img {
    width: 172px;
    height: 82px;
    border-radius: 8.5px;
    margin-bottom: 20px;    
}

.admin_details {
    margin-left: 20px;
}

.admin_card_recipe h2 {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.admin_card_recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

.admin_card_recipe a {
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

/* Página Admin Create */

.header_create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_create h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    
}

.header_create #edit-buttons {    
    display: flex;    
}

.header_create a,
.header_create button[type="submit"] {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;    
    color: #FFFFFF;
    padding: 9px 20px;    
    background: #6558C3;
    border: none;
    border-radius: 4px;   
    text-decoration: none; 
}

.header_create button[type="submit"]#delete-button {
    background: #DC4747;
    width: 92px;
    margin-right: 10px;
}

.item {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #111111;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 49px;
    margin: 10px 0 30px 0;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;   
}

.item button[type="submit"] {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    border: none;
    background: white;
    margin-bottom: 30px;
}

.item #additional_information {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 940px;
    height: 257px;
    margin-top: 10px;
}