<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/home.css">
    <title>FoodFy</title>
</head>

<body>
    <header>
        <div class="navBar">
            <div class="logo">
                <img src="/public/assets/logo.png" alt="">
            </div>
            <div class="links">
                <a href="#">Sobre</a>
                <a href="#">Receitas</a>
            </div>
        </div>
    </header>
    <div class="container">

    
    <div class="container_banner">
        <div class="banner_text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="banner_chef">
            <img src="/public/assets/chef.png" alt="chefe">
        </div>
    </div>

    <div class="cards_recipes">
        <h1>Mais Acessadas</h1>
        <div class="grid_recipes">
            <div class="card_recipe">
                <img src="/public/assets/burger.png" alt="burger">
                <h2>Triplo Bacon Burger</h2>
                <p>Por Jorge Relato</p>
            </div>

            <div class="card_recipe">
                <img src="/public/assets/pizza.png" alt="pizza">
                <h2>Pizza 4 estações</h2>
                <p>Por Fabiana Melo</p>
            </div>

            <div class="card_recipe">
                <img src="/public/assets/espaguete.png" alt="espaguete">
                <h2>Espaguete ao alho</h2>
                <p>Por Julio Kinoto</p>
            </div>

            <div class="card_recipe">
                <img src="/public/assets/lasanha.png" alt="lasagna">
                <h2>Lasagna Mac n' Cheese</h2>
                <p>Por Juliano Vieira</p>
            </div>

            <div class="card_recipe">
                <img src="/public/assets/doce.png" alt="docinhos">
                <h2>Docinhos Pão-do-céu</h2>
                <p>Por Ricardo Gouvêa</p>
            </div>

            <div class="card_recipe">
                <img src="/public/assets/asinhas.png" alt="frango">
                <h2>Asinhas de Frango ao Barbecue</h2>
                <p>Por Sonia Steroski</p>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <p>Todos os direitos reservados, receitas FoodFy</p>
    </div>

</body>

</html>