<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/home.css">
    <title>FoodFy</title>
</head>

<body>
    <header>
        <div class="navBar">
            <div class="logo">
                <a href="./index.html"><img src="/public/assets/logo.png" alt=""></a>
            </div>
            <div class="links">
                <a href="./sobre.html">Sobre</a>
                <a href="./receitas.html">Receitas</a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="cards_recipes">            
            <div class="grid_recipes">
                <div class="card_recipe" id="burger">
                    <img src="/public/assets/burger.png" alt="burger">
                    <h2 class="card_name">Triplo Bacon Burger</h2>
                    <p class="made_by">Por Jorge Relato</p>
                </div>

                <div class="card_recipe" id="pizza">
                    <img src="/public/assets/pizza.png" alt="pizza">
                    <h2 class="card_name">Pizza 4 estações</h2>
                    <p class="made_by">Por Fabiana Melo</p>
                </div>

                <div class="card_recipe" id="espaguete">
                    <img src="/public/assets/espaguete.png" alt="espaguete">
                    <h2 class="card_name">Espaguete ao alho</h2>
                    <p class="made_by">Por Julio Kinoto</p>
                </div>

                <div class="card_recipe" id="lasanha">
                    <img src="/public/assets/lasanha.png" alt="lasanha">
                    <h2 class="card_name">Lasagna Mac n' Cheese</h2>
                    <p class="made_by">Por Juliano Vieira</p>
                </div>

                <div class="card_recipe" id="doce">
                    <img src="/public/assets/doce.png" alt="docinhos">
                    <h2 class="card_name">Docinhos Pão-do-céu</h2>
                    <p class="made_by">Por Ricardo Gouvêa</p>
                </div>

                <div class="card_recipe" id="asinhas">
                    <img src="/public/assets/asinhas.png" alt="frango">
                    <h2 class="card_name">Asinhas de Frango ao Barbecue</h2>
                    <p class="made_by">Por Sonia Steroski</p>
                </div>

                <div class="card_recipe" id="burger">
                    <img src="/public/assets/burger.png" alt="burger">
                    <h2 class="card_name">Triplo Bacon Burger</h2>
                    <p class="made_by">Por Jorge Relato</p>
                </div>

                <div class="card_recipe" id="pizza">
                    <img src="/public/assets/pizza.png" alt="pizza">
                    <h2 class="card_name">Pizza 4 estações</h2>
                    <p class="made_by">Por Fabiana Melo</p>
                </div>

                <div class="card_recipe" id="espaguete">
                    <img src="/public/assets/espaguete.png" alt="espaguete">
                    <h2 class="card_name">Espaguete ao alho</h2>
                    <p class="made_by">Por Julio Kinoto</p>
                </div>

                <div class="card_recipe" id="lasanha">
                    <img src="/public/assets/lasanha.png" alt="lasanha">
                    <h2 class="card_name">Lasagna Mac n' Cheese</h2>
                    <p class="made_by">Por Juliano Vieira</p>
                </div>

                <div class="card_recipe" id="doce">
                    <img src="/public/assets/doce.png" alt="docinhos">
                    <h2 class="card_name">Docinhos Pão-do-céu</h2>
                    <p class="made_by">Por Ricardo Gouvêa</p>
                </div>

                <div class="card_recipe" id="asinhas">
                    <img src="/public/assets/asinhas.png" alt="frango">
                    <h2 class="card_name">Asinhas de Frango ao Barbecue</h2>
                    <p class="made_by">Por Sonia Steroski</p>
                </div>               
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Todos os direitos reservados, receitas FoodFy</p>
    </div>

    <div class="modal_overlay">
        <div class="modal">

            <img src="" alt="">
            <div class="descricao">
                <p id="nome_receita"></p>
                <p id="chef_receita"></p>
            </div>
            <div class="close_modal">
                <p>Fechar</p>
            </div>
            
        </div>
    </div>

    <script src="/public/scripts/scripts.js"></script>

</body>

</html>