{% extends "layout.njk" %}

{% block chefs %}

<div class="admin_cards_chefs">
    <h1>Gerenciar Chefes</h1>
    <div class="admin_grid_chefs">

        {% for chef in chefs %}
        <div class="admin_card_chef" id="{{ chef.id }}">
            <div>
                <img src="{{ chef.avatar_url }}" alt="imagem de {{ chef.id }}">
            </div>
            <div class="admin_chef_details">
                <h2>{{ chef.name}}</h2>
                <p>{{chef.total_recipes}} Receitas</p>
            </div>
        </div>
        {% endfor %}        
    </div>
</div>

{% endblock %}