{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="navBar">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt=""></a>
            </div>
            <div class="filter">

                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefes</a>                    
                </div>
                <div class="searchBar">
                    <form action="/" method="get">
                        <input 
                            type="text" 
                            name="filter" 
                            placeholder="Chefe ou Receita"
                            value={{filter}}
                        >
                        <button type="submit" class="button">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block banner %}
<div class="container_banner">
    <div class="banner_text">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <div class="banner_chef">
        <img src="/assets/chef.png" alt="chefe">
    </div>
</div>
{% endblock %}

{% block recipes %}
<div class="cards_recipes">
    <h1>Mais Acessadas</h1>
    <div class="grid_recipes">

        {% for recipe in recipes %}
        <div class="card_recipe">
            <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
            <h2>{{ recipe.title }}</h2>
            <p>{{ recipe.chef_name }}</p>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}