{% extends "layout.njk" %}

{% block header %}
    <header>
        <div class="navBar">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt=""></a>
            </div>
            <div class="filter">

                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefes</a>                    
                </div>
                <div class="searchBar">
                    <form action="/recipes" method="get">
                        <input 
                            type="text" 
                            name="filter" 
                            placeholder="Chefe ou Receita"
                            value={{filter}}
                        >
                        <button type="submit" class="button">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block recipes %}

    <div class="cards_recipes">
        <div class="grid_recipes">

            {% for recipe in recipes %}
                <div class="card_recipe" id="{{ recipe.id }}">
                    <img src="{{ recipe.image }}" alt="imagem de {{ recipe.id }}">
                    <h2 class="card_name">{{ recipe.title }}</h2>
                    <p class="made_by">{{ recipe.chef_name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}