{% extends "layout.njk" %}

{% block recipes %}

<div class="cards_recipes">
    <div class="grid_recipes">

        {% for recipe in recipes %}
        <div class="card_recipe" id="{{ recipe.id }}">
            <img src="{{ recipe.image }}" alt="imagem de {{ recipe.id }}">
            <h2 class="card_name">{{ recipe.title }}</h2>
            <p class="made_by">{{ recipe.chef_name }}</p>
        </div>
        {% endfor %}        
    </div>
</div>

<script src="/scripts.js"></script>

{% endblock %}